body {
    margin: 20vh 0 0; /* Sets the margin of the body element */
    text-align: center;
    font-family: "Lucida Console", monospace;
    color: white;
}

.animated-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Puts the background behind other content */
    background: url('https://s3-website-azr.s3.amazonaws.com/Wallpaper.gif') center/cover;
}

p {
    font-size: 18px;
}

input[type="text"] { /* Sets width between text input and input field */
    width: 200px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

button {
    background-color: rgb(55, 155, 55);
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(55, 155, 55); /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
    margin: 10px auto; /* Centers the button horizontally with some top margin */
    display: block; /* Makes the button a block-level element */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect for hover */
}

button:hover {
    background-color: darkgreen; /* Change background color on hover */
    color: white; /* Change text color on hover */
}
